@import "tailwindcss";

html,
body {
	margin: 0;
	padding: 0;
    print-color-adjust: exact;
	-webkit-print-color-adjust: exact !important;
}

* {
	box-sizing: border-box;
}

.text-fluid {
	font-size: clamp(2rem, 4vw, 4rem);
}

.month-0 {
	--color-primary: 48 188 102;
	--font-primary: Bangers;
}
.month-1 {
	--color-primary: 235 86 220;
	--font-primary: Limelight;
}
.month-2 {
	--color-primary: 220 131 116;
	--font-primary: Indie Flower;
}
.month-3 {
	--color-primary: 157 201 91;
	--font-primary: Kiwi Maru;
}
.month-4 {
	--color-primary: 55 179 247;
	--font-primary: Cinzel;
}
.month-5 {
	--color-primary: 93 107 237;
	--font-primary: Sour Gummy;
}
.month-6 {
	--color-primary: 255 172 58;
	--font-primary: Rampart One;
}
.month-7 {
	--color-primary: 169 121 250;
	--font-primary: Rye;
}
.month-8 {
	--color-primary: 250 204 116;
	--font-primary: Agu Display;
}
.month-9 {
	--color-primary: 88 216 218;
	--font-primary: Mystery Quest;
}
.month-10 {
	--color-primary: 36 202 168;
	--font-primary: Metal Mania;
}
.month-11 {
	--color-primary: 220 68 93;
	--font-primary: Rubik Moonrocks;
}
