@import "tailwindcss";

@theme {
	--color-primary: var(--color-primary);
	--font-primary: var(--font-primary);
	--font-caption: "Patrick Hand SC", cursive;
}

:root {
	--color-primary: rgb(255, 100, 50);
	--font-primary: 'Inter', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
    print-color-adjust: exact;
	-webkit-print-color-adjust: exact !important;
}

* {
	box-sizing: border-box;
}

.text-fluid {
	font-size: clamp(2rem, 4vw, 4rem);
}

.month-0 { /* ene */
	--color-primary: #30bc66;
	--font-primary: Bangers;
}
.month-1 { /* feb */
	--color-primary: #eb56dc;
	--font-primary: Limelight;
}
.month-2 { /* mar */
	--color-primary: #dc8374;
	--font-primary: Indie Flower;
}
.month-3 { /* abr */
	--color-primary: #9dc95b;
	--font-primary: Kiwi Maru;
}
.month-4 { /* may */
	--color-primary: #37b3f7;
	--font-primary: Cinzel;
}
.month-5 { /* jun */
	--color-primary: #5d6bed;
	--font-primary: Sour Gummy;
}
.month-6 { /* jul */
	--color-primary: #ffac3a;
	--font-primary: Rampart One;
}
.month-7 { /* ago */
	--color-primary: #a979fa;
	--font-primary: Rye;
}
.month-8 { /* sep */
	--color-primary: #facc74;
	--font-primary: Agu Display;
}
.month-9 { /* oct */
	--color-primary: #58d8da;
	--font-primary: Mystery Quest;
}
.month-10 { /* nov */
	--color-primary: #24caa8;
	--font-primary: Metal Mania;
}
.month-11 { /* dic */
	--color-primary: #dc445d;
	--font-primary: Rubik Moonrocks;
}
